@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
html,
body {
  height: 100vh;
  margin: 0%;
  display: flex;
  flex-direction: column;
}

div.main-content {
  display: grid;
  grid-template-columns: auto 30%;
}

div.col1-register {
  height: 100vh;
  background: linear-gradient(180deg, #466c8b 0%, #c2d5ee 100%);
  background-repeat: no-repeat;
}

div.col2-register {
  background-color: #29558a;
  height: 100vh;
}

form.register {
  margin-top: 30vh;
  font-family: 'Ubuntu', sans-serif;
}

.img2 {
  height: 40%;
  width: 40%;
}

.img-position {
  position: fixed;
  display: block;
  justify-content: space-around;
  margin-top: 4%;
  margin-left: 20%;
}

.link-register {
  font-size: smaller;
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 10px;
}
